#six==1.16.0
#IPython==7.14.0
PyYAML==6.0
#colormath==3.0.0
matplotlib==3.2.1
numpy==1.19.2
pandas==0.25.1
tqdm==4.64.0
#pre-commit
#prefect==0.13.13
#protobuf3_to_dict==0.1.5
protobuf==3.11.3
#pytest==5.4.2
#scikit-learn==0.22
#sklearn==0.0
statsmodels==0.13.2
tbats==1.1.0
tensorboard==2.5.0
tensorflow==2.5.0
#tzlocal==1.5.1
